<!-- <div>chatbot-support</div> -->

<button (click)="triggerZapier()">Trigger Zapier</button>
<a href="https://app.chatbot.com/dashboard/65783b25735f240007791a49
" target="_blank">Open Chat</a>

<!-- chatbot.component.html -->

<div>
  <!-- Start of ChatBot (www.chatbot.com) code -->
  <script type="text/javascript">
      window.__be = window.__be || {};
      window.__be.id = "657887a14118780006ff4431";
      (function() {
          var be = document.createElement('script');
          be.type = 'text/javascript';
          be.async = true;
          be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(be, s);
      })();
  </script>
  <noscript>
      You need to <a href="https://www.chatbot.com/help/chat-widget/enable-javascript-in-your-browser/" rel="noopener nofollow">enable JavaScript</a> in order to use the AI chatbot tool powered by <a href="https://www.chatbot.com/" rel="noopener nofollow" target="_blank">ChatBot</a>
  </noscript>
  <!-- End of ChatBot code -->
</div>
